/* Universal settings for the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background-color for the entire page. */
body {
    background-color: #d9dcd6;
}
/* Setting the heading background color to blue and the text-color to white */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}
/* The position of the list in the header is in the top-left corner */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.first-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* the first-image will float left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* The second image will float right */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Settings for side-bar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Margin and text-color of white for the first icon in the side-bar */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Margin and color of white for the second icon in the side-bar. */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Margin and text-color of white for the third icon in the side-bar. */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Margin-bottom of 10px and text-align of center for the Heading in the first icon in the side-bar.*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Margin-bottom of 10px and text-align of center for the heading of the second icon in the side-bar. */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Margin-bottom of 10px and text-align of center for the third icon in the side-bar. */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Display, margin and width of the first icon in the side-bar. */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Display,marginand width for the second icon in the side-bar. */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Display, margin and width for the third icon in the side-bar. */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* setting for the first section. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Settings for the second section. */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Settings for the third section. */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Height for the first section. */
.search-engine-optimization img {
    max-height: 200px;
}
/* Height for the second section. */
.online-reputation-management img {
    max-height: 200px;
}
/* Height for the third section. */
.social-media-marketing img {
    max-height: 200px;
}
/* Margin and text-font foth the first section. */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Margin anf font-size for the second section. */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Margin and font-size fir the third section. */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
